.Message{
    border: 2px solid #000000;
    padding:10px;
    margin-top:5px;
}
.text {
    border-color: #333636;
    background-color: #333636;
    color: #e1e6e4;
    padding:10px;
    border-radius: 30px;
}